{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/agree.css' %}">
{% endblock %}
{% block content %}
    <div class="navbar-img">
        <img class="navbar-img-image" src="{% static 'img/main.jpg' %}" />

        <div class="navbar-img__text">
            <span class="navbar-img__text--title">이용약관 동의</span>
            <span class="navbar-img__text--subtitle">아래 사항을 모두 읽고 약관에 동의해주세요.</span>
        </div>
    </div>
    <div class="login-container" style="display: block;">
        <div class="white_sec">
            <div class="container">
                <!-- 검사 대상 박스 -->
                <div class="info_title"><b>이용약관</b></div>
                <div class="info_box_wrapper">
                    <div class="info_box">
                        <div class="info_content">
                            <p>
                                1. 상명대학교 청원은 학생들이 학교운영과 관련된 의견을 공유하고, 이에 대한 요구를 학교 측에 제시하여 직접 답변을 받을 수 있는 서비스입니다.
                            </p>
                            <p>2. 상명대 구성원 누구라도 <b>스뮤니티 계정</b>으로 직접 청원글을 작성하실 수 있습니다.</p>
                            <p>3. 승인된 청원은 모든 청원 페이지에 공개되어 누구나 열람할 수 있으며, 모든 상명대 구성원은 청원 동의에 참여할 수 있습니다. </p>
                            <p>4. 한 번 청원동의에 참여한다면, <b>동의 철회 불가</b>합니다.</p>
                            <p>5. <b>50명 이상</b>의 청원동의를 받은 청원은 원내 관련 부서에서 2주 이내 답변하며 청원 페이지에 게시됩니다.</p>
                            <p>6. 중복, 비방, 욕설, 혐오 표현, 명예훼손 등 부적절한 청원 내용은 상명대 청원 운영 원칙에 따라 <b>숨김/삭제</b> 처리될 수 있습니다. </p>
                            <p>7. 허위사실을 포함하거나 타인을 악의적으로 비방하거나 명예를 훼손하기 위한 목적으로 작성된 청원에는 답변이 어려울 수 있습니다.</p>
                            <p>8. 동일한 내용으로 중복 게시된 청원은 가장 동의수가 많은 청원만 남기고 반려될 수 있습니다.</p>
                        </div>
                    </div>
                    <!-- 동의 체크박스 -->
                    <div class="info_agree">
                        <label style='cursor: pointer;'>
                            <input type="checkbox" onclick="agree_func()" id="agree">
                            <label for='agree'></label>
                            &nbsp;다음 이용약관에 동의합니다.
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- 로그인 박스 -->
        <div class="info_title"><b>학생 인증</b></div>
        <div class="info_content" style="text-align: center; margin: 10px 0 0 0;">
            <p>
                이캠퍼스에 로그인하여 인증 후 비밀번호를 변경합니다.<br>
                (상명대학교 포털 ID/PW와 동일)
            </p>
        </div>
        <div style="display: flex; justify-content: center;">
            <div class="login-form" style="margin-top: 10px;">
                <!-- 로그인 폼 -->
                <form onsubmit="return check_up();" method="post" >
                    {% csrf_token %}
                    <div class="content">
                        <div class="input-group flex-nowrap">
                            <input type="text" class="form-control" name="username" id="id" placeholder="학번">
                        </div>
                        <div class="input-group flex-nowrap" style="margin-top: 1rem;">
                            <input type="password" class="form-control" name="password" id="pw" placeholder="이캠퍼스 비밀번호">
                        </div>
                        <div id="login_btn">
                            <div class='login_btn_default'>이용약관에 동의해주세요.</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 로딩 모달 창 -->
    <div id='m1' class="modal">
        <div class="load-modal-content">
            <div class="modal_loadcontainer">
                <div class="sk-chase">
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                </div>
                <div class="loading">
                    <span>인</span>
                    <span>증</span>
                    <span>정</span>
                    <span>보</span>
                    <span>확</span>
                    <span>인</span>
                    <span>중</span>
                    <span>.</span>
                    <span>.</span>
                    <span>.</span>
                </div>
                <div class="load_info">
                    창을 이동하지 마세요!
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script src="{% static 'js/modal.js' %}"></script>
<script>
    function agree_func() {
        var chk = document.getElementById('agree');
        // 체크시
        if (chk.checked) {
            var tag = "<input type='submit' class='btn btn-primary' value='인증하기' style='margin-top: 1rem;'>";
        }
        // 체크 풀시
        else {
            var tag = "<div class='login_btn_default'>이용약관에 동의해주세요.</div>";
        }
        document.getElementById("login_btn").innerHTML = tag;
    }

    // 인증하기 클릭시 modal 띄움
    function pop_modal() {
        document.getElementById('m1').style.display = "block";
    }

    // form 체크
    function check_up() {
        if (!document.getElementById('pw').value || !document.getElementById('id').value) {
            alert('⚠️ 학번과 이캠퍼스 비밀번호를 입력해주세요.');
            return false;
        }
        pop_modal();
        return true;
    }

    // 검사대상표 모달
    var target_btn = document.getElementById("target_btn");
    var target_modal = document.getElementById('target_modal');
    var target_close = document.getElementById("target_close");
    Btnclick(target_btn, target_modal);
    Spanclick(target_close, target_modal);
    window.onclick = function (event) {
        if (event.target == target_modal) {
            target_modal.style.display = "none";
        }
    }
</script>
{% endblock %}