{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/agree.css' %}">
{% endblock %}
{% block content %}
    <div class="navbar-img">
        <img class="navbar-img-image" src="{% static 'img/main.jpg' %}" />

        <div class="navbar-img__text">
            <span class="navbar-img__text--title">이용약관</span>
            <span class="navbar-img__text--subtitle">상명대학교 청원 이용약관입니다.</span>
        </div>
    </div>
    <div class="login-container" style="display: block; padding:2.5rem 0;">
        <div class="white_sec">
            <div class="container">
                <div class="info_box_wrapper">
                    {% include "accounts/info.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}