{% extends 'base.html' %}
{% block content %}
    <div class="container my-3">
        <!-- message 표시 -->
        {% if messages %}
        <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
            <strong>{{ message.tags }}</strong>
            <ul><li>{{ message.message }}</li></ul>
        {% endfor %}
        </div>
        {% endif %}
        <!-- 질문 -->
        <h2 class="border-bottom py-2">{{ petition.subject }}</h2>
        <div class="card my-3">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;">{{ petition.content }}</div>
                <div class="d-flex justify-content-end">
                    {% if petition.modify_date %}
                    <div class="badge bg-light text-dark p-2 text-start mx-3">
                        <div class="mb-2">수정된 날짜</div>
                        <div>{{ petition.modify_date }}</div>
                    </div>
                    {% endif %}
                    <div class="badge bg-light text-dark p-2">
                        {{ petition.author.username }}
                        {{ petition.create_date }}
                    </div>
                </div>
            </div>

            <div class="my-3">
            <a href="javascript:void(0)" data-uri="{% url 'core:petition_vote' petition.id  %}"
               class="recommend btn btn-sm btn-outline-secondary"> 추천
                <span class="badge rounded-pill bg-success">{{petition.voter.count}}</span>
            </a>
            {% if request.user == petition.author %}
            <a href="{% url 'core:petition_modify' petition.id  %}"
               class="btn btn-sm btn-outline-secondary">수정</a>
            <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
               data-uri="{% url 'core:petition_delete' petition.id  %}">삭제</a>
            {% endif %}
            </div>
        </div>
        <!-- 답변 -->
        <h5 class="border-bottom my-3 py-2">{{petition.comment_set.count}}개의 답변이 있습니다.</h5>
        {% for comment in petition.comment_set.all %}
            <a id="comment_{{ comment.id }}"></a>
            <div class="card my-3">
                <div class="card-body">
                    <div class="card-text" style="white-space: pre-line;">{{ comment.content }}</div>
                    <div class="d-flex justify-content-end">
                        {% if comment.modify_date %}
                        <div class="badge bg-light text-dark p-2 text-start mx-3">
                            <div class="mb-2">수정된 날짜</div>
                            <div>{{ comment.modify_date }}</div>
                        </div>
                        {% endif %}
                        <div class="badge bg-light text-dark p-2">
                            {{ comment.create_date }}
                        </div>
                    </div>
                </div>
                <div class="my-3">
                    {% if request.user == comment.author %}
                    <a href="{% url 'core:comment_modify' comment.id  %}"
                       class="btn btn-sm btn-outline-secondary">수정</a>
                    <a href="#" class="delete btn btn-sm btn-outline-secondary"
                       data-uri="{% url 'core:comment_delete' comment.id  %}">삭제</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <!-- 답변 등록 -->
        <form action="{% url 'core:comment_create' petition.id %}" method="post" class="my-3">
            {% csrf_token %}
            <!-- 오류 표시 Start -->
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                {% if field.errors %}
                <div>
                    <strong>{{ field.label }}</strong>
                    {{ field.errors }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <!-- 오류표시 End -->
            <div class="form-group">
                <label for="content" class="form-label"></label>
                <textarea name="content" id="content" class="form-control" rows="10"></textarea>
            </div>
            <input type="submit" value="답변등록" class="btn btn-primary">
        </form>
    </div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });

    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
{% endblock %}