/* ---------------------------------( mypage 이동 버튼)---------------------------------------- */

.go_result_wrap{
    margin-top:1.5rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.go_result_box{
    text-align: center;
    width:200px;
}

.go_result_text{
    font-size:4rem;
}

.go_result_btn{
    background: #6188E8;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding:0.7rem 1rem 0.7rem 1rem;
    cursor: pointer;
    outline: 0;
}

.go_info_btn{
    background: #6188E8;
    color: white;
    font-size: 0.7rem;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    padding:0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
    outline: 0;
}

/* ---------------------------------( mypage 박스 )---------------------------------------- */

.my_box_wrap{
    display: flex;
    position : relative;
    align-content: center;
    margin-top:1.5rem;
    padding-left : 12%;
    padding-right : 12%;
}

.my_box{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    padding:2.5rem;
    margin: 1rem 1rem 1rem;
    border:1px solid rgb(216, 216, 216);
    background-color: white;
    font-size:1rem;
}

.my_box_title{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    font-size:1.2rem;
    font-weight: bold;
}

.my_box_title i{
    margin-right:1rem;
    color:rgb(136, 136, 136);
}

.my_box_mod_btn{
    float:left;
    background: white;
    font-size: 0.85rem;
    font-weight: bold;
    border: 0.001px solid rgb(160, 160, 160);
    padding:0.5rem;
    cursor: pointer;
    outline: 0;
}

.my_box_grade hr,
.my_box hr{
    width:100%;
    border-top: 0.001px solid rgb(216, 216, 216);
    border-bottom: 0.001px solid white;
    margin-top:1rem;
    margin-bottom:1.3rem;
}

.my_box table{
    font-size:1.05rem;
}

.my_box tr{
    height:2.7rem;
}

.my_box_table_1st_td{
    width:35%;
    font-weight: bold;
}

/* ---------------------------------( mypage 기이수성적 )---------------------------------------- */

.show_table {
    margin-top: 1.5rem;
    padding: 0.7rem 0 0.7rem 0;
    height: 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    border-top: 1.5px solid rgb(216, 216, 216);
    cursor: pointer;
}

.my_box_mod_btn:hover,
.show_table:hover {
    background-color: #f3f3f3;
}


.my_box_grade {
    display: flex;
    flex-direction: column;
    width: 68rem;
    height: auto;
    margin: 1rem 1rem;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
}


.grade_table {
    width: 100%;
    text-align: center;
    margin:0 auto;
    margin-top:1rem;
    margin-bottom:1rem;
}

.grade_table_th {
    font-size: 1rem;
    height: 2.5rem;
    background-color: #f8f8f8;
    border-right :1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.grade_table_td {
    font-size: 0.9rem;
    height: 2rem;
    border-right :1px solid #dadada;
    border-bottom: 1px solid #dadada;
}



/* https://ingijjung.tistory.com/11 파일 업로드 css */

.box-file-input {
    background-color: rgb(248,249,250);
    padding:1rem ;
    margin:0 auto;
    width:60%;
    border:1px solid rgb(216, 216, 216);
}

.box-file-input span{
    font-size:1.1rem;
    font-weight: bold;
}

.box-file-input label{
    display:inline-block;
    background:#424242;
    border-radius: 3px;
    color:white;
    padding:0px 15px;
    line-height:35px;
    cursor:pointer;
}

.box-file-input label:after{
    content:"파일선택";
}

.box-file-input .file-input{
    display:none;
}

.box-file-input .filename{
    display:inline-block;
    padding-left:10px;
}

.caution_info{
    color: red;
}

/* 게시판 */
.board {display:inline-block; vertical-align:middle; width:100%; text-align:center;}
.board .b_title {display:inline-block; position:relative; vertical-align:middle; width:100%; text-align:left; margin-bottom:5px;}
.board .b_list {display:inline-block; vertical-align:middle; width:100%; border-top:#4c4c4c solid 2px;}
.board .b_list .bl_head {display:inline-block; vertical-align:middle; width:100%; height:50px; padding:10px 0; border-bottom:#efefef solid 1px;}
.board .b_list .bl_body {display:inline-block; vertical-align:middle; width:100%;}
.board .b_list li {display:inline-block; vertical-align:middle; width:100%; padding:10px 0; border-bottom:#efefef solid 1px;}
.board .b_list li:hover {background-color:#fbfbfb;}
.board .b_list .bl_wrap {display:inline-block; vertical-align:middle; position:relative; width:100%;}
.board .b_list .bl_no {display:inline-block; vertical-align:middle; position:absolute; left:0; top:0; width:70px;}
.board .b_list .bl_category {display:inline-block; vertical-align:middle; position:absolute; left:70px; top:0; width:150px; text-indent:10px;}
.board .b_list .bl_body .bl_category {text-align:left;}
.board .b_list .bl_subject {margin-left:70px; margin-right:390px;}
.board .b_list .bl_subject a {display:inline-block; vertical-align:top; width:100%; height:auto; text-align:left;}
.board .b_list .bl_subject a:hover {text-decoration:underline; text-decoration-color:rgba(0, 174, 239, 0.7);}
.board .b_list.category .bl_subject {margin-left:220px;}
.board .b_list .bl_name {display:inline-block; vertical-align:middle; position:absolute; right:240px; top:0; width:150px;}
.board .b_list .bl_date {display:inline-block; vertical-align:middle; position:absolute; right:100px; top:0; width:140px;}
.board .b_list .bl_agree {display:inline-block; vertical-align:middle; position:absolute; right:0; top:0; width:100px;}
.board .btn_wrap {margin-top:15px;}
.board .b_write {display:inline-block; vertical-align:middle; width:100%; max-width:800px;}
.board .b_write .form {padding-top:15px; border-top:#4c4c4c solid 2px; border-bottom:#efefef solid 1px;}


.board .b_list .bl_head {display:none !important;}
.board .b_list li {display:inline-block !important; vertical-align:middle !important; width:100% !important; padding:10px 0 !important; border-bottom:#efefef solid 1px !important;}
.board .b_list .bl_no {text-align:left !important;}
.board .b_list .bl_category {right:0 !important; text-indent:0 !important;}
.board .b_list .bl_body .bl_category {text-align:left !important;}
.board .b_list .bl_subject {margin:25px 0 !important; font-size:14px !important;}
.board .b_list .bl_subject a {padding:5px 0 !important; white-space:normal !important; word-break:normal !important;}
.board .b_list.category .bl_subject {margin-left:0 !important;}
.board .b_list .bl_name {display:none !important;}
.board .b_list .bl_date {left:0 !important; right:auto !important; top:auto !important; bottom:0 !important; text-align:left !important;}
.board .b_list .bl_agree {right:0 !important; top:auto !important; bottom:0 !important; text-align:right !important;}
.board .btn_wrap {margin-top:10px !important;}

.sound_only{
	display: inline-block ;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    border: 0;
    overflow: hidden;
}
.ct_petitions h4{
	text-align: left;
    font-size: 26px;
    color: #222;
	margin-bottom: 20px;
	float:left;
}
.ct_petitions h4.smtitle{font-size:20px;}

.etc_chart li {margin: 0px 1% !important;}
.ct_txt1 {
    font-size: 16px !important;
    line-height: 26px !important;
}
.category_area ul {padding: 10px !important;}
.category_area ul li a {padding: 10px 10px !important;}
.category_tab {margin-bottom: 60px !important;}
.ct_list, .ct_list1 {padding: 0 15px !important;}

.tab.div4 li{width:25% !important;}

.cs {color: rgb(42, 80, 135) !important;}	/* 서브 */
.cb {color:#201f2d !important;}	/* 어두운 회색 */
/* 탭 */
.tab li {
	display:inline;
	float:left;
	position:relative;
	background-repeat:no-repeat;
	background-position: 0 16px;
    border-bottom: 1px solid #7f7f7f;
    height: 58px;
}
.tab a {
	transition: background-color .2s ease;
	display:block;
	min-width:50px;
	margin-left:-1px;
	font-size:18px;
	font-weight:700;
	text-align:center;
	height: 55px;
    width: 100%;
    line-height: 58px;
	color: #8e8e8e;
}
.tab a:hover {
	border-bottom: 5px solid var(--sangmyung);
	color: var(--sangmyung);
}
.tab a.on {
	border-bottom: 5px solid var(--sangmyung);
	color: var(--sangmyung);
}
.tab.div3 li {width:33.333333%;}

/* 텍스트 */
.text {font-size:14px !important; line-height:22px !important;}
.text.huge, .text .huge {font-size:30px !important; line-height:46px !important;}
.text.giant, .text .giant {font-size:27px !important; line-height:35px !important;}
.text.big, .text .big {font-size:18px !important; line-height:26px !important;}
.text.middle, .text .middle {font-size:16px !important; line-height:24px !important;}
.text.small, .text .small {font-size:13px !important; line-height:21px !important;}
.text.tiny, .text .tiny {font-size:11px !important; line-height:20px !important;}
/* 탭 */
.tab a {
    height:54px;
    margin-top:-1px;
    margin-left:0;
    padding:0 10px;
    font-size:18px;
    line-height:54px;
}

@media all and (max-width:414px) {
	.tab a{
		font-size:12px;
		letter-spacing:-1px;
	}
}
ul, li {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	background:none;
}
a:link, a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
.fr {float:right !important;}
.board .b_list2 .bl_category {
	left:0px;
	color:#001f50;
	font-weight:500;
}
select {
	padding: 0 0 0 5px;
	height: 40px;
	border: 1px solid #ccc;
	vertical-align: top;
	margin:0 5px;
}
.wv_category {
	text-align:left !important;
}
.board .b_list .bl_subject {margin-right:250px;}
.popopen_top button{
	position:absolute;
	right:10px;
	top:10px;
	width:50px;
	height:20px;
	color:#FFF;
	cursor:pointer;
	z-index:99;
}
.board .b_list .bl_subject {margin-right:0px !important;}
.board {
    padding: 40px 0 !important;
}
.board {
	padding: 60px 180px 40px 180px;
}
.board-text {
	font-weight: normal;
}