.main-img-image {
    position: relative;
    filter: brightness(100%);
    width: 100%;
    height: 550px;
    object-fit:cover;
}
.navbar-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-img-image {
    position: relative;
    filter: brightness(50%);
    width: 100%;
    height: 500px;
}

.navbar-img__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: white;
    width: 100%;
}

.navbar-img__text--title {
    font-size: 50px;
    margin: 20px;
}

.navbar-img__text--subtitle {
    font-weight: 300;
}

@media (max-width: 990px) {
    .navbar-img__text {
        margin: 70px;
        text-align: center;
        font-size: 15px;
    }

    .navbar-img__text--title {
        font-size: 35px;
    }
}
@media (max-width: 700px) {
    .main-img-image {
        height: 500px;
    }
}
@media (max-width: 700px) {
    .navbar-img__text {
        margin: 70px;
        text-align: center;
        font-size: 15px;
    }
    .navbar-img__text--title {
        font-size: 35px;
    }
    .main-img-image {
        height: 450px;
    }
}

@media (max-width: 600px) {
    .main-img-image {
        height: 400px;
    }
    .login-form {
        width: 100% !important;
        margin: 0 0 0 0 !important;
        box-shadow: none !important;
    }
    .content {
        padding: 60px 30px 60px 30px !important;
    }
}

@media (max-width: 500px) {
    .main-search-by-category-icon {
        width: 60px;
        height: 60px;
    }
    .main-search-by-category-icon-div {
        width: 60px;
        height: 120px;
    }
    .main-search-by-category-icon-font {
        font-size: 14px;
    }
    .main-img-image {
        height: 350px;
    }
}

@media (max-width: 400px) {
    .main-search-by-category-icon {
        width: 50px;
        height: 50px;
    }
    .main-search-by-category-icon-div {
        width: 50px;
        height: 100px;
    }
    .main-search-by-category-icon-font {
        font-size: 12px;
    }
    .main-img-image {
        height: 300px;
    }
}