{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="navbar-img">
        <img class="navbar-img-image" src="{% static 'img/main.jpg' %}"
            style="width: 100%; height: 500px; object-fit:cover" />

        <div class="navbar-img__text">
            <span class="navbar-img__text--title">스뮤 청원</span>
            <span class="navbar-img__text--subtitle">상명대학교 학우 여러분들의 의견에</span>
            <span class="navbar-img__text--subtitle">귀를 기울이는 학생회가 되겠습니다.</span>
        </div>
    </div>
    <div id="category" class="container my-3 container-home main-div " style="width: 70%;">
        <!--항목 별 분류 버튼 세트 -->
        <div style="display : flex; justify-content: space-between;" >

                <!--학사 버튼-->
                <div class="main-search-by-category-icon-div">
                    <a class="btn-primary main-search-by-category-icon" href="javascript:void(0);" onclick="changeCategory(1);" role="button">
                        <i class="fas fa-user-graduate main-search-by-category-icon-details"></i>
                    </a>
                    <span class="main-search-by-category-icon-font">학사</span>
                </div>


                <!--일반 버튼-->
                <div class="main-search-by-category-icon-div">
                    <a class="btn-primary main-search-by-category-icon " href="javascript:void(0);" onclick="changeCategory(2);" role="button">
                        <i class="fas fa-random main-search-by-category-icon-details"></i>
                    </a>
                    <span class="main-search-by-category-icon-font">일반</span>
                </div>

                <!--사회 봉사 버튼 -->
                <div class="main-search-by-category-icon-div">
                    <a class="btn-primary main-search-by-category-icon " href="javascript:void(0);" onclick="changeCategory(3);" role="button">
                        <i class="fas fa-hands-helping main-search-by-category-icon-details"></i>
                    </a>
                    <span class="main-search-by-category-icon-font">사회봉사</span>
                </div>

                <!--등록/장학 버튼 -->
                <div class="main-search-by-category-icon-div">
                    <a class="btn-primary main-search-by-category-icon " href="javascript:void(0);" onclick="changeCategory(4);" role="button">
                        <i class="fas fa-won-sign main-search-by-category-icon-details" ></i>
                    </a>
                    <span class="main-search-by-category-icon-font" style="font-size: 16.5px;">등록/장학</span>
                </div>

                <!--학생 생활 버튼 -->
                <div class="main-search-by-category-icon-div">
                    <a class="btn-primary main-search-by-category-icon " href="javascript:void(0);" onclick="changeCategory(5);" role="button">
                        <i class="fas fa-university main-search-by-category-icon-details"></i>
                    </a>
                    <span class="main-search-by-category-icon-font">학생생활</span>
                </div>

                <!--채용 버튼 -->
                <div class="main-search-by-category-icon-div">
                    <a class="btn-primary main-search-by-category-icon " href="javascript:void(0);" onclick="changeCategory(6);" role="button">
                        <i class="fas fa-people-arrows main-search-by-category-icon-details"></i>
                    </a>
                    <span class="main-search-by-category-icon-font">채용</span>
                </div>

                <!--글로벌 버튼 -->
                <div class="main-search-by-category-icon-div">
                    <a class="btn-primary main-search-by-category-icon " href="javascript:void(0);" onclick="changeCategory(7);" role="button">
                        <i class="fas fa-globe-asia main-search-by-category-icon-details"></i>
                    </a>
                    <span class="main-search-by-category-icon-font">글로벌</span>
                </div>

                <!--진로취업 버튼 -->
                <div class="main-search-by-category-icon-div">
                    <a class="btn-primary main-search-by-category-icon " href="javascript:void(0);" onclick="changeCategory(8);" role="button">
                        <i class="fas fa-briefcase main-search-by-category-icon-details"></i>
                    </a>
                    <span class="main-search-by-category-icon-font">진로취업</span>
                </div>

                <!--비교과 버튼 -->
                <div class="main-search-by-category-icon-div">
                    <a class="btn-primary main-search-by-category-icon " href="javascript:void(0);" onclick="changeCategory(9);" role="button">
                        <i class="fas fa-book-reader main-search-by-category-icon-details"></i>
                    </a>
                    <span class="main-search-by-category-icon-font">비교과</span>
                </div>

                <!--코로나19 버튼 -->
                <div class="main-search-by-category-icon-div">
                    <a class="btn-primary main-search-by-category-icon " href="javascript:void(0);" onclick="changeCategory(10);" role="button">
                        <i class="fas fa-viruses main-search-by-category-icon-details"></i>
                    </a>
                    <span class="main-search-by-category-icon-font">코로나19</span>
                </div>

                <!--기타 버튼 -->
                <div class="main-search-by-category-icon-div">
                    <a class="btn-primary main-search-by-category-icon " href="javascript:void(0);" onclick="changeCategory(11);" role="button">
                        <i class="fas fa-question-circle main-search-by-category-icon-details"></i>
                    </a>
                    <span class="main-search-by-category-icon-font">기타</span>
                </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        function changeCategory(category) {
            let params = new URLSearchParams();
            params.set("category", category);
            window.open({% url 'petitions:petition_list' %} + '?' + params, '_self');
        }
    </script>
{% endblock %}